.mainmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

    .mainmenu .logo {
        font-size: var(--font-size-35);
        font-family: var(--font-poppins);
        font-weight: var(--font-weight-bold);
        color: var(--color-dark-10);
        text-decoration: none;
    }
        .mainmenu .logo:hover {
            color: var(--color-dark-10);
            text-decoration: none;
        }

    .mainmenu .menu-links {
        font-weight: var(--font-weight-medium);
    }

        .mainmenu .menu-links .menu-link {
            color: var(--color-dark-10);
            font-weight: var(--font-weight-medium);
            text-decoration: none;
            margin-left: 15px;
            margin-right: 15px;
        }
            .mainmenu .menu-links .menu-link:hover {
                color: var(--color-red);
                text-decoration: none;
            }

        .mainmenu .menu-links .active {
            color: var(--color-red);
            text-decoration: none;
        }

    .mainmenu .menu-icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

        .mainmenu .menu-icon {
            background-color: var(--color-white);
            color: var(--color-dark-10);
            box-shadow: 0 0 6px 4px var(--color-shadow);
            border-radius: 50%;
            width: 36px;
            height: 36px;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: all 0.1s ease-in-out;
        }

            .mainmenu .menu-icon:hover {
                text-decoration: none;
                color: var(--color-white);
                box-shadow: 0 0 6px 4px var(--color-shadow);
                background-color: var(--color-dark-20);
            }

        .mainmenu .menu-icon .active {
            text-decoration: none;
            color: var(--color-white);
            box-shadow: 0 0 6px 4px var(--color-shadow);
            background-color: var(--color-dark-20);
        }